.navbar.navbar-default.navbar-fixed-top{role: "navigation", data: { t: Time.now.to_i }}
  .container#search-view
    .navbar-left= link_to image_tag('mini_logo.png'), root_path, class: "logo"
    = form_tag search_path, class: "navbar-form navbar-left", method: :get do
      .form-group
        %i.fa.fa-search.search-icon
        %i.fa.fa-refresh.fa-spin
        = text_field_tag :query, params[:query], class: "search-field", placeholder: "enter url, title, author or #topic", autocomplete: "off", autofocus: "autofocus"
    %ul.nav.navbar-nav.navbar-right
      %li= link_to "Explore", root_path
      %li= link_to "My collection", root_path
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Account
          %b.caret
        %ul.dropdown-menu
          %li
            %a{href: "#"} Action
          %li
            %a{href: "#"} Another action
          %li
            %a{href: "#"} Something else here
          %li.divider
          %li
            %a{href: "#"} Separated link
